Bottleneck==1.3.2
Brotli==1.0.9
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
chart-studio==1.1.0
click==8.0.4
colorama==0.4.4
dash==2.1.0
dash-auth==1.3.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.0
dash-table==5.0.0
Flask==2.0.2
Flask-Compress==1.5.0
Flask-Login==0.5.0
Flask-SeaSurf==0.3.1
future==0.18.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
numexpr==2.8.1
numpy==1.21.5
packaging==21.3
pandas==1.4.1
pip==21.2.4
plotly==5.6.0
pycparser==2.21
pyparsing==3.0.4
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
retrying==1.3.3
setuptools==58.0.4
six==1.16.0
tenacity==8.0.1
ua-parser==0.10.0
urllib3==1.26.9
Werkzeug==2.0.3
wheel==0.37.1
wincertstore==0.2
